.banner-container{
    width: 100%;
    height: 350px;
    .Slider-container{
        width: 100%;
        .slick-prev{
            left: 0px;
           
            position: absolute;
        }
        .slick-next {
            right: 0px ;
            display: none !important;
            position: absolute;
        }
        
        .child-slider{
        
            img{
                width: 100%;
                height: 350px;
            }
        }
    }
    
}