.headerMenu-container{
    display: flex;
    width: 100%;
    height: 90px;
    
    .content-left{
        width: 25%;
        
        background-color: antiquewhite;
        .logo{
            img{
                width: 100%;
                height: 90px;
                cursor: pointer;
            }
        }
    }
    .content-center{
        width: 55%;
        
        .item-big{
            text-align: center;
            .nav-item{
                width: 20%;
                font-weight: 400;
                display: inline-block;
                position: relative;
                margin: 5px;
            }
        }
    }
    .content-right{
        width: 20%;
       
        .search-cart{
            display: flex;
            height: 80px;
            justify-content: center;
            align-items: center;
            .child-item{
                margin: 10px;
                i{
                    cursor: pointer;
                    font-size: 1.3rem;
                    height: 40px;
                    margin-top: 20px;
                    .input{
                        display: none;
                        right: 100px;
                        position: absolute;
                        background-color: rgb(237, 230, 230);
                        border-radius: 3px;
                        input{
                            
                            margin-left: 10px;
                            width: 90%;
                            height: 40px;
                            font-weight: 400;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            
                        }
                    }
                    
                }
                i:hover .input {
                    display: block;
                  }
                
                
            }
        }
    }
}