.new-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    .new-content{
        
        width: 80%;
        border-bottom: 3px solid black;
        margin-bottom: 70px;
    }
}