.product-container{
    width: 100%;
    height: 400px;

    margin:50px 0;
    display: flex;
    justify-content: center;
    .product-content{
        
        width: 90%;
        height: 400px;
       
        display: flex;
        .product-conten-left{
            width: 25%;
            height: 400px;          
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover ;
            color: white;
            h2{

                width: 100%;
                margin: 40px 30px;
            }
            h2:hover{
                
                color: red;
            }
            p{
                margin: 10px 30px;
                width: 65%;
            }
            button{
                color: white;
                width: 40%;
                height: 40px;
                margin-left: 35px;
                margin-top: 80px;
                background: transparent;
                border: 1px solid white;

            }
            button:hover{
                border: none;
                background-color: red;
            }
        }
        .product-content-right{
            width: 75%;
            height: 400px;
      
            .product-child-top{
                margin-left: 70px;
                .slider-product{
                    width: inherit;
                    .slick-next {
                        width: 30px;
                        height: 30px;
                        right: 0px;
                        background-color: rgb(179, 178, 181);
                        
                    }
                    .slick-prev{
                        width: 30px;
                        height: 30px;
                        left:-30px;
                        background-color: rgb(179, 178, 181);
                        position: absolute !important;
                    }
                }
                .child-product{
                    margin-top: 40px;
                    img{
                        
                        width: 80%;
                        height: 200px;
                    }
                    .title-container{
                        margin-right: 60px ;
                        text-align: center;
                        span{
                            .title{
                                text-decoration: none;
                                color: black;
                            }
                            
                        }
                        .description{
                            color: rgb(217, 215, 215);
                        }
                        .price{
                            color: red;
                        }
                    }
                    button{
                        width: 214px;
                        height: 35px;
                        border: none;
                    }
                    button:hover{
                        background-color: rgb(44, 44, 247);
                    }
                }
            }
            
        }
    }
}