.footer-under-container{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    b{
        color: rgb(235, 62, 62);
    }
}