.footer-top-container{
    width: 100%;
    height: 350px;
    background: url('../../../../public/images/bg_footer.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    
    .footer-child{
        width: 100%;
        margin-top: -80px !important;
        .footer-title-desciption{
            color: white;
            margin: 15px 15px;
        }
        .footer-form{
            
            .form-input{
                height: 45px;
                width: 600px;
                border: none;
                outline: none;
                
            }
            .form-btn{
                
                button{
                    background-color: red;
                    color: white;
                    height: 45px;
                    width: 100px;
                    border: none;
                }
               
            }
        }
    }
}